.vs/
.vs
..vs/
..vs
bin/
obj/

*.user
*.suo
*.userprefs
*.lock.json


*.pdb
*.ilk
*.exe
*.dll
*.so
*.dylib


TestResults/
*.trx
*.coverage
*.coveragexml


packages/
*.nupkg


.vs/
.idea/


*~
*.bak
*.tmp


*.log
*.txt


*.DotSettings
*.DotSettings.user


*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3


userdata.db


publish/
PublishProfiles/


*.psess
*.vsp
*.vspx

*.coverage
*.coveragexml
*.codecoverage